.card-body:hover {
    background-color: #ffc107;
}

.bg-dark {
    background-color: black !important;
}

.form-control:focus {
    border-color: #ffc107 !important;
    box-shadow: #ffc107 !important;
    border-radius: #ffc107 !important;
}

.root {
    font-family: 'Exo 2', sans-serif;
}